extends layout

block content
  h1.title Welcome to Express
  
  ul
    li.mb-2
      a(href="/products") /products
    li.mb-2
      a(href="/api/products") /api/products
    each productId in productIds
      li.mb-2
        a(href=`/api/products/${productId}`) /api/products/#{productId}
