extends layout

block content
  div.table-container
    table.table.is-striped
      thead
        tr
          th 商品名
          th ステータス
          th 価格(税込み)
      tbody
      each product in products
        tr
          td #{product.name}
          td #{product.status}
          td #{product.taxIncludedPrice}円
